[package]
name = "iamb"
version = "0.0.9-alpha.1"
edition = "2018"
authors = ["Ulyssa <git@ulyssa.dev>"]
repository = "https://github.com/ulyssa/iamb"
homepage = "https://iamb.chat"
readme = "README.md"
description = "A Matrix chat client that uses Vim keybindings"
license = "Apache-2.0"
exclude = [".github", "CONTRIBUTING.md"]
keywords = ["matrix", "chat", "tui", "vim"]
categories = ["command-line-utilities"]
rust-version = "1.67"
build = "build.rs"

[build-dependencies]
mandown = "0.1.3"

[build-dependencies.vergen]
version = "8"
default-features = false
features = ["build", "git", "gitcl",]

[dependencies]
arboard = "3.2.0"
bitflags = "^2.3"
chrono = "0.4"
clap = {version = "~4.3", features = ["derive"]}
comrak = {version = "0.18.0", features = ["shortcodes"]}
css-color-parser = "0.1.2"
dirs = "4.0.0"
emojis = "~0.5.2"
futures = "0.3"
gethostname = "0.4.1"
html5ever = "0.26.0"
image = "0.24.5"
libc = "0.2"
markup5ever_rcdom = "0.2.0"
mime = "^0.3.16"
mime_guess = "^2.0.4"
open = "3.2.0"
ratatui-image = { version = "0.4.1", features = ["serde"] }
regex = "^1.5"
rpassword = "^7.2"
serde = "^1.0"
serde_json = "^1.0"
thiserror = "^1.0.37"
tracing = "~0.1.36"
tracing-appender = "~0.2.2"
tracing-subscriber = "0.3.16"
unicode-segmentation = "^1.7"
unicode-width = "0.1.10"
url = {version = "^2.2.2", features = ["serde"]}
edit = "0.1.4"

[dependencies.modalkit]
# version = "0.0.16"
git = "https://github.com/ulyssa/modalkit"
rev = "f9f0517ed6a6152c1eab36d2e71b11f38831d5e6"

[dependencies.matrix-sdk]
version = "^0.6.2"
default-features = false
features = ["e2e-encryption", "sled", "rustls-tls", "sso-login"]

[dependencies.tokio]
version = "1.24.1"
features = ["macros", "net", "rt-multi-thread", "sync", "time"]

[dev-dependencies]
lazy_static = "1.4.0"
pretty_assertions = "1.4.0"

[profile.release]
lto = true
incremental = false

[features]
default = ["sixel"]
sixel = ["ratatui-image/sixel"]
